body{
	background-image:url('../img/b2.jpg');
    background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
}
.hand{
	align-content: center;
}
.lefth{
	height: 375px;
	width: 375px;
}
.rym{
	background-color: rgba(66, 26, 111,0.4);
	color:white;
	margin-top:100px;
	
	
	 box-shadow: 0 3px 28px 0 rgb(0,0,0), 0 0px 55px 0 rgba(0, 0, 0, 0.21);
}
.animated{
	animation-duration: 2s;
	animation-delay: 1s;
}
@media (max-width: 1400px) {
	.lefth{
		height:400px;
		width:400px;
		margin-bottom: -200px;

	}
	.text-center{

		font-size: 25px;
	}
	.pill{
		height:30px;
		margin-left: -130px;
		margin-top: 200px;
		z-index: 200;
	}
}
@media (max-width: 1100px) {
	.lefth{
		height:400px;
		width:400px;
		float: bottom;
		margin-bottom:-1700px;
	}
	.text-center{

		font-size: 30px;
	}
}
@media (max-width: 780px) {
	.lefth{
		height:200px;
		width:200px;
		float: bottom;
		margin-bottom:-1300px;
	}
	.text-center{

		font-size: 25px;
	}
}
@media (max-width: 480px) {
	.lefth{
		height:130px;
		width:130px;
		margin-bottom: -670px;
		float: bottom;
	}
	.text-center{
		font-size: 16px;
	}
	.rym{
		margin-top: 70px;
	}
}
@media (max-width: 360px) {
	.lefth{
		height:130px;
		width:130px;
		margin-bottom: -660px;
		float: bottom;
	}
	.text-center{
		font-size: 14px;
	}
}


